body {
  margin: 0;
  background: black;
}
canvas {
  display: block;
  margin: 0 auto;
  background: black;
}
#keyboard {
  text-align: center;
  padding: 10px;
}
button {
  font-size: 20px;
  margin: 5px;
  padding: 10px 20px;
}